html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

th {
  /* text-transform: uppercase; */
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 0;
}

body,
input,
button {
  /* font-weight: 600; */
}

